<%= provide(:title, t(".title")) %>
<!DOCTYPE html>
<html>
  <body>
    <h1><%= link_to t (".title") %></h1>
      <p>
      The 
      <%= link_to t(".link_tutorial"), Settings.link.about.link4 %> 
      , part of the
      <%= link_to t(".learn_enough"), Settings.link.about.link4 %>
      This is the sample app for the tutorial.
    </p>
  </body>
<html>

