<% provide(:title, t(".title")) %>
<!DOCTYPE html>
<html>
  <body>
  	<%= link_to t("en"), locale: :en %>
  	<%= link_to t("vi"), locale: :vi %>
	<h1><%= t ".title" %></h1>
	<p>
    Get help on the Ruby on Rails Tutorial at the
		<%= link_to t(".link_help"), Settings.link.help.link2 %>
	  To get help on this sample app, see the
    <%= link_to t(".link_book"), Settings.link.help.link3 %>
	  </p>
  </body>
<html>
