<% provide(:title, t(".title")) %>
<!DOCTYPE html>
<html>
  <%= link_to t("en"), locale: :en %>
  <%= link_to t("vi"), locale: :vi %>
  <body>
  <div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
    <p>
      <%= link_to t(".link_rails_tutorial"), Settings.link.home.link1 %> 
    </p>
    <%= link_to t(".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  <%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200px"),"#" %>
  </body>
<html>
