<% provide(:title, t(".title")) %>
<h1><%= t(".title") %></h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
    <%= render @users %>
  <% end %>
</ul>

<%= will_paginate %>
