<%= provide(:title, t(".title")) %>
<h1><%= t(".title")%></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label t("users.edit.name") %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label t("users.edit.email") %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label t("users.edit.password") %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label t("users.edit.comfirm_pw") %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      
      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
