<footer class="footer">
  <small>
    <%= link_to t(".ruby_on_rails"), Settings.link.home.link1 %>
    <%= link_to t(".michael"), Settings.link.home.link2 %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), '#' %></li>
      <li><%= link_to t(".news"), Settings.link.news.link1 %></li>
    </ul>
  </nav>
</footer>
